.main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(35, 35, 35);
}
 
.create_button {
    background-color: rgb(52, 52, 52);
    padding: 0px 40px;
    color: white;
    border-radius: 10px;
    
}

.create_button:hover {
    background-color: rgb(41, 41, 41);
}

.plus {
    font-size: 200px;
    cursor: pointer;
}
